{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}

<div style="display: flex; justify-content: center; ">
  <div class="card border-info mb-3" style="width: 30rem;">
    <img src="{{ url_for('static', filename='assets/logo.svg') }}" class="card-img-top" alt="...">
    <div class="card-body border-info">
      <h5 class="card-title">About Developer</h5>
      <p class="card-text">Hey, I'm Pranshu2OP, and I've recently wrapped up a cool website built entirely with Flask in just two days! It's been an intense yet rewarding experience, pushing my boundaries and skill set to create something unique. With every line of code, I'm gearing up for bigger and better projects in the future. Exciting things are on the horizon, and I can't wait to share them with you soon. Stay tuned for more updates!</p>
      <a href="/" class="btn btn-info">To Do</a>
    </div>
  </div>
</div>

{% endblock body %}