<!DOCTYPE html>
<html lang="EN" data-bs-theme="dark">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFTPW8K114"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FFTPW8K114');
    </script>


    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.rtl.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favlogo.png') }}">
    <title> {% block title %}{% endblock title %} Pranshu2OP</title>
  </head>

  <body>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='favlogo.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top mx-auto">
          Pranshu2OP
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/music">Music</a>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
                <li class="nav-item">
                <a class="nav-link" href="/github">Github Repo For This Project</a>
                <li class="nav-item">
                  <a class="nav-link" href="/updates">What's NEW</a>
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}

    {% endblock body %}
  </body>

  </html>
