{% extends 'base.html' %}
{% block title %}Goals{% endblock title %}
{% block body %}

<!-- Form -->
<div class="container">
  <form action="/" method="POST">
    <div class="mx-auto mb-3">
      <label for="TODO title" class="form-label">Goals</label>
      <input type="text" class="form-control border border-info" name="title" id="TODO title" aria-describedby="emailHelp">
    </div>
    <div class="mx-auto mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control border border-info" name="desc" id="desc">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>

<!-- Table -->
<div class="container my-5">
  <h2>Goals</h2>
  <table class="table">

    <tbody>
        
        {% if alltodo|length == 0 %}

        {% if title == False %}
        <div class="alert alert-danger" role="alert">
          Enter a Goal
        </div>
        {% endif %}

        <div class="alert alert-info" role="alert">
          no record

        {% else %}
        
          
        {% if title == False %}
        <div class="alert alert-danger" role="alert">
          Enter a Goal
        </div>
        {% endif %}

       
        <thead>
          <tr>
            <th scope="col">SNo</th>
            <th scope="col">Goals</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>


        {% for todo in alltodo %}



        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{todo.title}}</td>
          <td>{{todo.desc}}</td>
          <td>{{todo.date_created}}</td>
          <td>
            <a href="/edit/{{todo.sno}}" button type="button" class="btn btn-outline-info btn-sm mx-1">Edit</button>
              <a href="/done/{{todo.sno}}" button type="button" class="btn btn-outline-info btn-sm mx-1">Done</button>
          </td>

        </tr>

        {% endfor %}
        {% endif %}

    </tbody>
  </table>
</div>


{% endblock body %}
