{% extends 'base.html' %}
{% block title %}Music{% endblock title %}
{% block body %}

<H1>Hi This is Pranshu2OP</H1>

<div class="container d-flex justify-content-center my-4 mb-5">
    <div class="row">
        
        <div class="col-md-3 mb-4">
            <div class="card">
                <!-- Meri Baari -->
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top"
                        src="{{ url_for('static', filename='thumbnail/Meri Baari.png') }}"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"><a href="{{ url_for('static', filename='thumbnail/Meri Baari.png') }}" target="_blank">Meri Baari</a></h5>
                    <p class="mb-0">Arijit Singh</p>
    
                    <audio controls class="w-100">
                        <source src="{{ url_for('static', filename='music/Meri Baari.mp3') }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>

        <!-- Main Phir bhi tumko Chahunga -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <!-- Card content -->
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top"
                        src="{{ url_for('static', filename='thumbnail/Half Girlfriend.jpg') }}"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"><a href="{{ url_for('static', filename='thumbnail/Half Girlfriend.jpg') }}" target="_blank">Main Phir Bhi</a></h5>
                    <p class="mb-0">Arijit Singh</p>
    
                    <audio controls class="w-100" >
                        <source src="{{ url_for('static', filename='music/Main Phir Bhi.mp3') }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
        
        <!-- Phir aur ky chahiye -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <!-- Card content -->
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top"
                        src="{{ url_for('static', filename='thumbnail/phir aur kya chahiye.png') }}"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"><a href="{{ url_for('static', filename='thumbnail/phir aur kya chahiye.png') }}" target="_blank">Phir Aur Kya Chahiye</a></h5>
                    <p class="mb-0">Arijit Singh</p>
    
                    <audio controls class="w-100">
                        <source src="{{ url_for('static', filename='music/Main Phir Bhi.mp3') }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>

        <!-- Soch na sake -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <!-- Card content -->
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top"
                        src="{{ url_for('static', filename='thumbnail/Soch Na Sake.png') }}"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"><a href="{{ url_for('static', filename='thumbnail/Soch Na Sake.png') }}" target="_blank">Soch Na Sake</a></h5>
                    <p class="mb-0">Arijit Singh</p>
    
                    <audio controls class="w-100">
                        <source src="{{ url_for('static', filename='music/Soch Na Sake.mp3') }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>

        <!-- The Specture -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <!-- Card content -->
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top"
                        src="{{ url_for('static', filename='thumbnail/The Specture.png') }}"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"><a href="{{ url_for('static', filename='thumbnail/The Specture.png') }}" target="_blank">The Specture</a></h5>
                    <p class="mb-0">Alan Walker</p>
    
                    <audio controls class="w-100">
                        <source src="{{ url_for('static', filename='music/The Specture.mp3') }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>

        <!-- Raabta -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <!-- Card content -->
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top"
                        src="{{ url_for('static', filename='thumbnail/Raabta.png') }}"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"><a href="{{ url_for('static', filename='thumbnail/Raabta.png') }}" target="_blank">Raabta</a></h5>
                    <p class="mb-0">Arijit Singh</p>
    
                    <audio controls class="w-100">
                        <source src="{{ url_for('static', filename='music/Raabta.mp3') }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
        
        <!-- Shayad -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <!-- Card content -->
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top"
                        src="{{ url_for('static', filename='thumbnail/shayad.png') }}"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"><a href="{{ url_for('static', filename='thumbnail/shayad.png') }}" target="_blank">Shayad</a></h5>
                    <p class="mb-0">Arijit Singh</p>
    
                    <audio controls class="w-100">
                        <source src="{{ url_for('static', filename='music/Shayad.mp3') }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    {% endblock body %}