{% extends 'base.html' %}
{% block title %}
    Updates
{% endblock title %}

{% block body %}
    <div class="container">
        
        <h1 class="display-6 text-light bg-dark">Welcome to Updates</h1>
        
        <p class="Blockquote">Dark Theme Update 1.0</p>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item lead border border-info"> 
                Introduced white noise track in the music section for enhanced focus during study sessions. Try it out now!
            </li>
            <li class="list-group-item lead border border-info"> 
                Visual Elegance: Immerse in a sleek, sophisticated interface designed for comfort in low-light environments.
            </li>
            <li class="list-group-item lead border border-info"> 
                Expanded Playlist: Explore fresh additions to our music library for an enhanced auditory experience.
            </li>
            <li class="list-group-item lead border border-info"> 
                Temporal Precision: Resolved date and time functionality issues for seamless operations.
            </li> 
            <li class="list-group-item lead border border-info"> 
                Enhanced Accessibility: Thumbnail navigation for smoother exploration, empowering effortless interaction.
            </li>
            <li class="list-group-item lead border border-info"> 
                Streamlined Logs: Improved log capabilities for easier tracking and navigation within the interface.
            </li>
        </ol>

        
    </div>

{% endblock body %}