{% extends 'base.html' %}
{% block title %}
    Updates
{% endblock title %}

{% block body %}
    <div class="container">
        
        <h1 class="display-6">Welcome to Updates</h1>
        
        <p class="Blockquote">Update 1.0</p>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item lead"> 
                New Songs : Enjoy fresh additions to our music library!
            </li>
            <li class="list-group-item lead"> 
                Date & Time Issue: We've successfully resolved the issue that affected date and time functionalities.
            </li> 
            <li class="list-group-item lead"> 
                Accessibility Enhancement: Enjoy thumbnail viewing by simply clicking on the title, making navigation smoother and more intuitive.
            </li>
            <li class="list-group-item lead"> 
                User-Friendly Logs : Now experience enhanced log capabilities for easier navigation and tracking.
            </li>
          </ol>
        
    </div>
{% endblock body %}